---
layout: default
title: Smartphone
smartphone: iphone7
---

<section class="container-fluid">
  <nav class="row d-flex flex-row flex-nowrap overflow-auto">
    
    {% for smartphone in site.data.navigation.smartphone %}
    <div class="col-auto px-2">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <a href="{{ site.baseurl }}{{ smartphone.url | prepend: "/smartphone" }}" class="stretched-link text-dark">{{ smartphone.brand }}</a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    
  </nav>
</section>

<section class="container">
  <h3>Testing data files</h3>
  {% for item in site.data.smartphone.apple.iphone7 %}
    <p>{{ item.name }}</p>
  {% endfor %}
</section>
